{% extends 'betweencoffee_delivery/base.html' %}
{% load static %}
{% block title %}Between Coffee - About{% endblock %}


{% block content %}

<section class="ftco-section-blank"></section>

<!-- Bean detail -->
<section class="ftco-section overflow-hidden">
    <div class="container">
        <div class="productFv style_01">
            <span class="title-bg-head">&#65371;US&#65373;</span>
            <div class="inner">
                <div class="blobsBg"></div>
                <!-- /.blobsBg -->
                <div class="wrap">
                    <div class="col-img">
                        <div class="blobsItem size_06 style_06">
                            <div class="inner">
                                <picture>
                                    <img src={% static 'images/bg_5.jpg' %} alt="" title="" >
                                </picture>
                            </div>
                            <!-- /.inner -->
                        </div>
                        <!-- /.blobsItem size_06 style_06 -->
                        
                        <div class="blobsItem size_07 style_07">
                            <div class="inner">
                                <picture>
                                    <img src={% static 'images/bg_2b.jpg' %}  alt="" title="" >
                                </picture>
                            </div>
                            <!-- /.inner -->
                        </div>
                        <!-- /.blobsItem size_07 style_07 -->
                    </div>
                    <!-- /.col-img -->
                    
                    <div class="col-main way active activeAfter">
                        <div class="inner">
                            <div class="content">
                                <h1 class="ttl">
                                    <div class="morphing">
                                        <div class="word">世界太快</div>
                                        <div class="word">無論去到哪裏</div>
                                        <div class="word">節奏。保存</div>
                                        <div class="word">唯有片刻</div>
                                        <div class="word">恰度好的一杯</div>
                                        <div class="word">為自己充充電!</div>
                                        <div class="word">其實。不難</div>
                                    </div>
                                </h1>
                                <h2>我們試著將看不見的熱度與香氣視覺化，創造出一種嗅覺與味覺之間的張力。</h2>
                                    <div class="summary">
                                        <p>那股香不只是味道<br>而是會被記住的嗅覺記憶。這就是起點。</p>
                                        <p>We are OPEN, Designed for workers and dreamers on th move, Created as a pit stop for urban commuter. Momentum and Energy.</p>
                                    </div>
                            <!-- /.summary -->
                            </div>
                            <!-- /.content -->
                        </div>
                        <!-- /.inner -->
                    </div>
                    <!-- /.col-main -->
                    
                </div>
                <!-- /.wrap -->
            </div>
            <!-- /.inner -->
        </div>
        <!-- /.productFv -->
    </div>
</section>
<!-- end Bean detail -->

<div class="flexable-vh-20"></div>

{% endblock %}
