

<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="cart__items" id="main-cart-items" data-id="template--24086618341540__cart-items">
            <div class="js-contents"><table class="cart-items">
                  <caption class="visually-hidden">
                    あなたのカート
                  </caption>
                  <thead>
                    <tr>
                      <th class="caption-with-letter-spacing" colspan="2" scope="col">
                        商品
                      </th>
                      <th class="medium-hide large-up-hide right caption-with-letter-spacing" colspan="1" scope="col">
                        合計
                      </th>
                      <th
                        class="cart-items__heading--wide cart-items__heading--quantity small-hide caption-with-letter-spacing"
                        colspan="1"
                        scope="col"
                      >
                        数量
                      </th>
                      <th class="small-hide right caption-with-letter-spacing" colspan="1" scope="col">
                        合計
                      </th>
                    </tr>
                  </thead>
    
                  <tbody><tr class="cart-item" id="CartItem-1">
                        <td class="cart-item__media">
                          
                            
                            <div class="cart-item__image-container gradient global-media-settings">
                              <img
                                src="//shop.gotoretto.jp/cdn/shop/files/720mlset_mugi_mugi.jpg?v=1739528522&width=300"
                                class="cart-item__image"
                                alt=""
                                loading="lazy"
                                width="150"
                                height="222"
                              >
                            </div>
                          
                        </td>
    
                        <td class="cart-item__details"><a href="/products/mugi-mugi?variant=50765703807140" class="cart-item__name h4 break">五島麦×麦</a><div class="product-option">
                              ¥3,740
                            </div>
                            <dl></dl>
    
                            <p class="product-option"></p><ul class="discounts list-unstyled" role="list" aria-label="ディスカウント"></ul>
                        </td>
    
                        <td class="cart-item__totals right medium-hide large-up-hide">
                          <div class="cart-item__price-wrapper">
                              <span class="price price--end">¥11,220</span>
                          </div>
                        </td>
                        
                        <td class="cart-item__quantity">
                            <div class="quantity">
                                <div class="form-group d-flex">
                                    <div class="input-group d-flex">
                                        <span class="input-group-btn">
                                            <button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
                                                <i class="icon-plus"></i>
                                            </button>
                                        </span>
                                            <!-- Add data-item-key to quantity inputs -->
                                            <!-- before using data-item-key={{ item_key }}" is not correct return to -->
                                            <input 
                                            class="form-control quantity-input" 
                                            value="{{ item.quantity }}" 
                                            min="1" 
                                            data-item-key="{{ item.item_id }}" 
                                            data-item-price="{{ item.price }}"  
                                            >
                                        <span class="input-group-btn">
                                            <button type="button" class="quantity-left-minus btn" data-type="minus" data-field="">
                                                <i class="icon-minus"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </td>
    
                        <td class="cart-item__totals right small-hide">
    
    

    <div class="cart-item__price-wrapper"><span class="price price--end">
                                ¥11,220
                              </span></div>
                        </td>
                      </tr></tbody>
                </table></div>
          </div>
    
          <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
          <p
            class="visually-hidden"
            id="shopping-cart-line-item-status"
            aria-live="polite"
            aria-hidden="true"
            role="status"
          >
            読み込み中…
          </p>
        </form>
      </div>
    </div>
</section>
