<!-- eshop/templates/eshop/order_confirmation.html -->
{% extends 'betweencoffee_delivery/base.html' %}
{% load static %}
{% load tz %} 

{% block content %}


<!-- Shop info -->
<section>
    <div class="cm-fixedbtn u-section" id="js-fixedbtn">
        <div class="cm-fixedbtn-inner ftco-animate">
        <dl class="cm-fixedbtn__open u-fonten is-bold">
            <dt class="cm-fixedbtn__openTitle">OPEN</dt>
            <dd class="cm-fixedbtn__openBody">7:00 - 19:00</dd>
        </dl>

        <div class="cm-fixedbtn__info is-map">
            <a href="#access" target="_blank" class="cm-fixedbtn__infoTarget">
                <p class="cm-fixedbtn__infoTargetTitle">
                <span class="icon material-icons">pin_drop</span>
                <span class="txt">地図</span>
                </p>
                <p class="cm-fixedbtn__infoTargetBody">葵涌 宏達工業中心地下</p>
            </a>
        </div>

        <div class="cm-fixedbtn__info is-tel">
            <a href="tel:24789522" class="cm-fixedbtn__infoTarget">
            <p class="cm-fixedbtn__infoTargetTitle">
                <span class="icon material-icons">phone_iphone</span>
                <span class="txt">電話</span>
            </p>
            <p class="cm-fixedbtn__infoTargetBody u-fonten is-bold">2478 9522</p>
            </a>
        </div>
        </div>
    </div>
</section>
<!-- end Shop info -->

<section class="ftco-section-blank"></section>

{% comment %} {% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %} {% endcomment %}


<!-- Show login prompt for guests -->
{% if not user.is_authenticated %}
<div class="row justify-content-center align-items-center">
    <h4>Guest Checkout</h4>
    <p>You're checking out as a guest. <a href="{% url 'account_login' %}?next={% url 'eshop:order_confirmation' %}">Sign in</a> to save your order history and get faster checkout next time.</p>
</div>
{% endif %}


<div class="hiddenLarge">
<div class="container">
    <div class="row">
        <div class="col-xl-7 Rtable Rtable--4cols Rtable--collapse js-RtableAccordions w-100">
            <div class="d-flex w-100 position-relative">
                <div class="w-50" >
                    {% comment %} <span class="ion-ios-arrow-down"></span> {% endcomment %}
                    <button class="Accordion fontsize-md" role="tab" aria-selected="false">訂單詳情<span class="arrow"></span></button>
                </div>

                <div class="w-50">
                    <div class="total-price mb-5 text-right">
                        {% comment %} <span class="fontsize-md white">總計: </span> {% endcomment %}
                        <span class="h5">${{ total_price|floatformat:"-2" }}</span>
                    </div>
                </div>
            </div>


        <div class="row">
            <div class="Rtable-cell sidebar-box ftco-animate mt-6">
                {% for item in items %}
                    <div class="block-21 mb-5 d-flex">
                        <div class="blog-img mr-4">
                            <img src="{{ item.image }}" class="img-fluid" alt="{{ item.name }}">
                            <span class="order-amount-label order-amount-label-pill">{{ item.quantity }}</span>
                        </div>
                        <div class="text">
                            <h3 class="heading">{{ item.name }}</h3>
                            <p class="h5">${{ item.total_price |floatformat:"-2" }}</p>

                            {% if item.type == 'coffee' %}
                            <div class="meta pb-2">
                                <div>
                                    <span class="icon material-symbols-outlined">water_full</span>
                                    杯量 :
                                    <strong>
                                    {% if item.cup_level == 'Small' %}細
                                    {% elif item.cup_level == 'Medium' %}中
                                    {% elif item.cup_level == 'Large' %}大
                                    {% endif %}
                                    </strong>
                                </div>
                                <div>
                                    <span class="icon material-symbols-outlined">humidity_mid</span>
                                    奶量 :
                                    <strong>
                                    {% if item.milk_level == 'Light' %}少
                                    {% elif item.milk_level == 'Medium' %}正常
                                    {% elif item.milk_level == 'Extra' %}追加
                                    {% endif %}
                                    </strong>
                                </div>
                            </div>
                            {% elif item.type == 'bean' %}
                            <div class="meta pb-2">
                                <div>
                                    <span class="icon material-symbols-outlined">roller_shades</span>
                                    研磨 :
                                    <strong>
                                    {% if item.grinding_level == 'Non' %}免研磨
                                    {% elif item.grinding_level == 'Light' %}細
                                    {% elif item.grinding_level == 'Medium' %}中
                                    {% elif item.grinding_level == 'Deep' %}粗
                                    {% endif %}
                                    </strong>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
</div>
</div>

<!-- Bill Info input-->
<section class="ftco-section-billing">
    <div class="container">
        <div class="row">
            <!-- Customer info - input form (left side)-->
            <div class="col-xl-7 ftco-animate">
                <h3 class="mb-4 billing-heading">聯絡資料</h3>
                <form method="POST" action="{% url 'eshop:order_confirmation' %}" class="billing-form">
                    {% csrf_token %}
                    <!-- Input fields -->
                    <div class="row">
                        <div class="col-md-8 px-0 mb-3">
                            <div class="form-group">
                                <label for="name">名稱</label>
                                <input required class="form-control" type="text" name="name" placeholder="Ricky" autocomplete="off"
                                    {% if user.is_authenticated %}value="{{ user.get_full_name|default:user.username }}"{% endif %}/>
                            </div>
                        </div>

                        <div class="w-100"></div>

                        <div class="col-md-6 px-0 mb-3">
                            <div class="form-group">
                                <label for="phone">電話 / Whatsapp</label>
                                <input required class="form-control mb-2" type="text" name="phone" 
                                    placeholder="98092384" autocomplete="off"
                                    pattern="[0-9]{8}" 
                                    title="請輸入8位數字香港電話號碼"
                                    {% if user.is_authenticated and user.profile.phone %} 
                                        value="{{ user.profile.hk_phone }}"
                                    {% endif %}/>
                                <caption class="">
                                    默認以SMS通知
                                </caption>
                                {% if form.phone.errors %}
                                    <div class="text-danger small">
                                        {{ form.phone.errors|join:", " }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">電郵 (可選)</label>
                                <input class="form-control" type="email" name="email" placeholder="mark_yeung@gmail.com" autocomplete="off"
                                    {% if user.is_authenticated %}value="{{ user.email }}"{% endif %}/>
                            </div>
                        </div>

                        <div hidden class="w-100"></div>

                        <div class="col-md-6 px-0">
                            <div class="form-group">
                                <label for="country">提取時間</label>
                                <div class="select-wrap">
                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                    <select name="pickup_time" class="form-control" required>
                                        <option value="5 分鐘後">5 分鐘後</option>
                                        <option value="10 分鐘後">10 分鐘後</option>
                                        <option value="15 分鐘後">15 分鐘後</option>
                                        <option value="30 分鐘後">30 分鐘後</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="w-100"></div>

                        <div class="col-md-12 px-0">
                            <div class="form-group mt-2">
                                <div class="radio">
                                    <label class="mr-3 mr-2"><input type="radio" name="optradio">&nbsp; Monthly Coffee Pass? </label>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- end Customer info - input form (left side) -->

                <!-- Cart Item (right side)-->
                <div class="col-xl-5 sidebar ftco-animate">
                    <div class="sidebar-box ftco-animate mt-6 hiddenSmall">
                        {% for item in items %}
                            <div class="block-21 mb-5 d-flex">
                                <div class="blog-img mr-4">
                                    <img src="{{ item.image }}" class="img-fluid" alt="{{ item.name }}">
                                    <span class="order-amount-label order-amount-label-pill">{{ item.quantity }}</span>
                                </div>
                                <div class="text">
                                    <h3 class="heading">{{ item.name }}</h3>
                                    <p class="h5">${{ item.total_price |floatformat:"-2" }}</p>

                                    {% if item.type == 'coffee' %}
                                    <div class="meta pb-2">
                                        <div>
                                            <span class="icon material-symbols-outlined">water_full</span>
                                            杯量 :
                                            <strong>
                                            {% if item.cup_level == 'Small' %}細
                                            {% elif item.cup_level == 'Medium' %}中
                                            {% elif item.cup_level == 'Large' %}大
                                            {% endif %}
                                            </strong>
                                        </div>
                                        <div>
                                            <span class="icon material-symbols-outlined">humidity_mid</span>
                                            奶量 :
                                            <strong>
                                            {% if item.milk_level == 'Light' %}少
                                            {% elif item.milk_level == 'Medium' %}正常
                                            {% elif item.milk_level == 'Extra' %}追加
                                            {% endif %}
                                            </strong>
                                        </div>
                                    </div>
                                    {% elif item.type == 'bean' %}
                                    <div class="meta pb-2">
                                        <div>
                                            <span class="icon material-symbols-outlined">roller_shades</span>
                                            研磨 :
                                            <strong>
                                            {% if item.grinding_level == 'Non' %}不研磨
                                            {% elif item.grinding_level == 'Light' %}細
                                            {% elif item.grinding_level == 'Medium' %}中
                                            {% elif item.grinding_level == 'Deep' %}粗
                                            {% endif %}
                                            </strong>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    
                    <!-- Payment info-->
                    <div class="sidebar-box ftco-animate">
                        <div class="dividerline mb-4"></div>
                        <div class="total-price mb-5 text-right">
                            <span class="h4">總計: </span>
                            <span class="h4">${{ total_price|floatformat:"-2" }}</span>
                        </div>
                        <div class="block-21 justify-content-end">
                            <div class="form-group pb-5">
                            <!-- Payment button -->
                            <button type="submit" class="btn btn-primary btn-primary-outline pr-8 pl-8 py-3">繼續付款</button>
                                <div class="text-center mt-3">
                                    <span class=""><a href="{% url 'cart:cart_detail' %}" class="btn">返回購物車</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end Payment info-->
                </div>
                <!-- end Cart Item (right side) -->
        </div>
        </form>
    </div>
</section>

<div class="flexable-vh-20"></div>



<!-- Shop info bar 180px after scrolling -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const shopInfoBar = document.getElementById('js-fixedbtn');
        
        // Hide initially
        shopInfoBar.style.display = 'block'; // Ensure it's visible to animate
        shopInfoBar.classList.remove('active');
    
        window.addEventListener('scroll', function() {
            if (window.scrollY > 180) {
                shopInfoBar.classList.add('active');
            } else {
                shopInfoBar.classList.remove('active');
            }
        });
    });


// Collapse to Accordions //
(function ($) {
    "use strict";
    $.fn.responsiveTable = function() { 
      var toggleColumns = function($table) {
        var isExpanded = $table.find(".Accordion").attr("aria-selected") === "true";
        $table.find(".Rtable-cell").toggleClass("hiddenSmall", !isExpanded);
      };
      
      $(this).each(function(){ 
        toggleColumns($(this)); 
      });
  
      $(this).find(".Accordion").click(function() {
        var $accordion = $(this);
        var isSelected = $accordion.attr("aria-selected") !== "true";
        $accordion.attr("aria-selected", isSelected);
        toggleColumns($accordion.parents(".Rtable"));
      });
    };
  }(jQuery));
  
  // Initialize
  $(".js-RtableAccordions").responsiveTable();

  document.querySelectorAll('.Accordion').forEach(accordion => {
    accordion.addEventListener('click', function() {
      this.classList.toggle('active');
      // Add your existing accordion toggle logic here
    });
  });

</script>

<style>
@media all and (min-width: 1200px) { 
  .hiddenLarge {display: none; }
}
</style>


{% endblock content %}