{% extends 'coffee/base.html' %}
{% load static %}

{% block title %}註冊 - 咖啡外送{% endblock %}

{% block content %}
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5">
                <div class="login-wrap p-4 p-md-5">
                    <div class="icon d-flex align-items-center justify-content-center" style="background-image: url({% static 'images/login_bg.jpg' %});">
                        <span class="fa fa-user-plus"></span>
                    </div>
                    <h3 class="text-center mb-4">會員註冊</h3>
                    <form method="post" class="login-form">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group">
                            {{ field }}
                            {% if field.errors %}
                                <div class="text-danger">
                                    {% for error in field.errors %}
                                        <small>{{ error }}</small><br>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary rounded submit px-3">註冊</button>
                        </div>
                        <div class="form-group text-center">
                            已經有帳號？ <a href="{% url 'login' %}">立即登入</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
